<template>
  <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm text-white px-0 heighted">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/progress-logo.png"
        width="496"
        class="d-inline-block align-top"
        alt="Компания прогресс"
      />
    </a>
    <div class="row ml-auto w-50 mr-0">
      <simple-select
        label="Тема"
        controlId="theme"
        :options="this.$store.getters.themes"
        initMethod="initThemes"
        loadingGetter="isThemesLoading"
        setActiveIdMethod="setActiveTheme"
      ></simple-select>
      <simple-select
        label="Микросхема"
        controlId="circuit"
        :options="this.$store.getters.circuits"
        initMethod="loadCircuits"
        loadingGetter="isCircuitsLoading"
        setActiveIdMethod="setActiveCircuit"
      ></simple-select>
    </div>
  </nav>
</template>

<script>
import SimpleSelect from "../controls/SimpleSelect.vue";

export default {
  components: {
    SimpleSelect
  }
};
</script>

<style scoped>
.heighted {
  position: absolute;
  width:100%;
  height: 145px;
}
</style>