<template>
  <input
    class="form-control"
    type="checkbox"
    v-model="checked"
    :style="{width: checkboxSize, height: checkboxSize}"
    @blur="changeValue">
</template>

<script>
export default {
  props: ['setting', 'checkboxSize'],
  methods: {
    changeValue() {
      this.$store.dispatch('changeValue', this.setting)
    }
  },
  computed: {
    checked: {
      get() {
        return this.setting.value || false
      },
      set(val) {
        this.setting.value = val ? 1 : 0
      }
    }
  }
}
</script>