<template>
  <select
    class="form-control"
    v-model="setting.value"
    @blur="changeValue">
    <option
      v-for="(option, index) in listData"
      :key="index"
      :value="index">{{ option }}</option>
  </select>
</template>

<script>
export default {
  props: ['setting', 'listData'],
  methods: {
    changeValue() {
      this.$store.dispatch('changeValue', this.setting)
    }
  }
}
</script>