<template>
  <input
    class="form-control"
    type="number"
    :min="min"
    :step="step"
    v-model="float"
    @blur="changeValue">
</template>

<script>
export default {
  props: ['setting'],
  methods: {
    isFloat() {
      return this.setting.dataType.toLowerCase() == 'float'
    },
    changeValue() {
      this.$store.dispatch('changeValue', this.setting)
    }
  },
  computed: {
    min() {
      return this.setting.min || 1
    },
    step() {
      return this.setting.step || 1
    },
    float: {
      get() {
        return this.isFloat() ? parseFloat(this.setting.value).toFixed(1) : this.setting.value
      },
      set(val) {
        if (this.isFloat()) {
          this.setting.value = isNaN(parseFloat(val)) ? 0 : parseFloat(val)
        } else {
          this.setting.value = isNaN(parseInt(val)) ? 0 : parseInt(val)
        } 
      }
    }
  }
}
</script>