<template>
  <input
    class="form-control"
    type="text"
    v-model="setting.value"
    @blur="changeValue">
</template>

<script>
export default {
  props: ['setting'],
  methods: {
    changeValue() {
      this.$store.dispatch('changeValue', this.setting)
    }
  }
}
</script>