<template>
  <div class="form-inline col">
    <label
      :for="controlId"
      class="col-form-label"
      >{{ label }}</label>
    <div
      class="col"
      >
      <select
        class="form-control w-100"
        :id="controlId"
        @change="setActiveSelectionId($event)"
        :disabled="this.$store.getters[loadingGetter]">
        <option selected value=0></option>
        <option
          v-for="opt in options"
          :value="opt.id"
          v-bind:key="opt.id"
          >{{ opt.name }}</option>
      </select>
    </div>
  </div>
</template>

<script>
export default {
  props: ['controlId', 'label', 'options', 'initMethod', 'loadingGetter', 'setActiveIdMethod'],
  methods: {
    mounted() {
      this.$store.dispatch(this.initMethod)
    },
    setActiveSelectionId(event) {
      this.$store.dispatch(this.setActiveIdMethod, event.target.value)
    }
  }
}
</script>