<template>
  <div
    class="modal fade"
    id="modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal"
    aria-hidden="false"
    :value="hostLoaded"
    >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Настройка подключения</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="ip-address" class="col-form-label">Адрес сервера:</label>
            <input
              type="text"
              class="form-control"
              id="ip-address"
              placeholder="http://pythonanyware.com:1488"
              v-model="host">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
            class="btn btn-primary"
            :disabled="this.$store.getters.hostLoading"
            @click="connect">Подключиться</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  mounted() {
    this.$store.dispatch('initHost')

    $('#modal').modal({
      keyboard: false,
      backdrop: 'static'
    })
  },
  computed: {
    host: {
      get() {
        return this.$store.getters.hostEndpoint
      },
      set(val) {
        this.$store.dispatch('setHost', val)
      }
    },
    hostLoaded() {
      if (this.$store.getters.hostLoaded) {
        $('#modal').modal('hide')
      }

      return this.$store.getters.hostLoaded
    }
  },
  methods: {
    connect() {
      this.$store.dispatch('connect', this.host)
    }
  }
}
</script>