<template>
  <div
    v-if="this.$store.getters.activeCircuit != 0"
    :class="{disabledblock: this.$store.getters.isCircuitLoading}"
    class="row h-100"
  >
    <div class="col-3">
      <app-settings-list class="scrollable"></app-settings-list>
    </div>
    <div class="col-5 d-flex flex-column">
      <app-registers-list></app-registers-list>
      <app-logs></app-logs>
    </div>
    <div class="col-4">
      <app-image></app-image>
    </div>
    <!-- <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> -->
  </div>
</template>

<script>
import SettingsList from "./icsettings/SettingsList.vue";
import RegistersList from "./icsettings/RegistersList.vue";
import Image from "./icsettings/Image.vue";
import Logs from "./icsettings/Logs.vue";

export default {
  components: {
    appSettingsList: SettingsList,
    appRegistersList: RegistersList,
    appImage: Image,
    appLogs: Logs
  }
};
</script>

<style scoped>
.disabledblock {
  pointer-events: none;
  opacity: 0.4;
}
.scrollable {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: auto;
}
</style>