<template>
  <div class="form-group row align-items-center">
    <label class="col-5 col-form-label">{{ setting.description }}</label>
    <div class="col-5">
      <component
        :is="inputType"
        :setting="setting"
        :listData="setting.dataList"
        checkboxSize="20px"
        ></component>
    </div>
    <div class="col-2">
      {{ setting.units }}
    </div>
  </div>
</template>

<script>
import Spinbox from '../controls/customInputs/Spinbox.vue'
import Checkbox from '../controls/customInputs/Checkbox.vue'
import Textbox from '../controls/customInputs/Textbox.vue'
import Select from '../controls/customInputs/Select.vue'

export default {
  components: {
    Spinbox, Checkbox, Textbox, Select
  },
  props: ['setting'],
  computed: {
    inputType() {
      if (!this.setting.widgetType)
        return 'Textbox'

      switch(true) {
        case (this.setting.widgetType.toLowerCase().indexOf('spinbox') != -1): return 'Spinbox';
        case (this.setting.widgetType.toLowerCase().indexOf('checkbox') != -1): return 'Checkbox';
        case (this.setting.widgetType.toLowerCase().indexOf('select') != -1): return 'Select';
        default: return 'Textbox';
      }
    }
  }
}
</script>