<template>
  <p class="text-monospace sized my-0">
    <span class="text-info">
      <strong>{{ date }} --></strong>
    </span>
    <span class="text-success">
      {{ content }}
    </span>
  </p>
</template>

<script>
export default {
  props: ['date', 'content']
}
</script>