<template>
  <div class="bg-dark px-3 py-2 bottomed">
    <app-log-record
      v-for="log in this.$store.getters.logs"
      :key="log.id"
      :date="log.date"
      :content="log.content"
    ></app-log-record>
  </div>
</template>

<script>
import LogRecord from "./LogRecord.vue";

export default {
  components: {
    appLogRecord: LogRecord
  }
};
</script>

<style scoped>
.sized {
  font-size: 18px;
}

.bottomed {
  height: 360px;
  overflow-y: scroll;
}
</style>