<template>
  <div class="col-3 mb-4 w-100">
    <input type="text" class="form-control mb-2" :value="hex">
    <button
      class="btn btn-info w-100"
      @click="sendRegister">Отправить {{ reg.name }}</button>
  </div>
</template>

<script>
export default {
  props: ['reg'],
  computed: {
    hex() {
      let hexStr = this.reg.sum.toString(16)
      return '0x' + hexStr
    }
  },
  methods: {
    sendRegister() {
      this.$store.dispatch('sendRegister', { reg: this.reg });
    }
  }
}
</script>