<template>
  <div class="w-100">
    <h3>Отправка данных</h3>
    <h5>Регистры</h5>
    <div class="row">
      <app-register
        v-for="reg in regs"
        :key="reg.id"
        :reg="reg">
        </app-register>
    </div>
    <br>
    <div class="row">
      <div class="col-6 mb-5 w-100">
        <button class="btn btn-info w-100"
        @click="resetIc">Сброс данных</button>
      </div>
      <div class="col-6 mb-5 w-100">
        <button class="btn btn-info w-100"
        @click="sendRegisters">Отправка регистров</button>
      </div>
    </div>
  </div>
</template>

<script>
import Register from './Register.vue'

export default {
  computed: {
    regs() {
      return this.$store.getters.registers
    }
  },
  components: {
    appRegister: Register
  },
  methods: {
    sendRegisters() {
      this.regs.map(x => {
        this.$store.dispatch('sendRegister', { reg: x })
      })
    },
    resetIc() {
      this.$store.dispatch('resetSettings')
    }
  }
}
</script>