<template>
  <div class="pr-3">
    <h3>Настройки микросхемы</h3>
    <br/>
    <app-setting
      v-for="block in blocks"
      v-bind:key="block.id"
      :block="block"
      blockName="name"
      fieldHeader="label"></app-setting>
  </div>
</template>

<script>
import Setting from './Setting.vue'

export default {
  computed: {
    blocks() {
      return this.$store.getters.circuitBlocks
    }
  },
  components: {
    appSetting: Setting
  }
}
</script>