<template>
  <div class="card mb-3">
    <div class="card-header">
      {{ block[fieldHeader] }}
    </div>
    <div class="card-body pb-1">
      <app-setting-parameter
        v-for="parameter in parametersList"
        v-bind:key="parameter.id"
        :setting="parameter"></app-setting-parameter>
    </div>
  </div>
</template>

<script>
import CustomInputGroup from './CustomInputGroup.vue'

export default {
  props: ['block', 'fieldHeader', 'blockName'],
  components: {
    appSettingParameter: CustomInputGroup
  },
  computed: {
    parametersList() {
      return this.$store.getters.settingParameters(this.block[this.blockName])
    }
  }
}
</script>