<template>
  <div class="container-fluid px-0">
    <app-modal></app-modal>
    <app-header></app-header>
    <div class="offset-top px-4 d-flex flex-column" :style="{ height: (getHeight() - 165) + 'px' }">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Header from "./components/shared/Header.vue";
import Modal from "./components/modal/ModalWindow.vue";

export default {
  components: {
    appHeader: Header,
    appModal: Modal
  },
  methods: {
    getHeight() {
      return window.innerHeight;
    }
  }
};
</script>

<style>
.offset-top {
  margin-top: 165px;
}
</style>